.card {
    background-color: #80deea;
    box-shadow: 10px 10px 5px gray;
    border: 3px solid #01579b;
    border-radius: 10px;
}

li {
    list-style: none;
}

button {
    color: black;
    box-shadow: 3px 3px 1px gray;
}

input {
    padding: 0.5rem;
}